
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Create A New Quote", "CreateCustomer", "Quote", null, new { @class = "btn btn-primary btn-large" })

<div id="quoteAgentRoot"></div>
<br />
<br />

<div id="quoteVehicleRoot"></div>

